name: Build Sample App for CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "**.md"
  pull_request:
    branches: [ "main" ]

env:
  BUILD_CONFIGURATION: Release
  CSPROJ_TO_BUILD: samples/Plugin.Maui.UITestHelpers.Sample/Plugin.Maui.UITestHelpers.Sample.csproj

jobs:
  build-sample-ci:

    runs-on: macos-13

    steps:
    - uses: actions/checkout@v4

    - name: Restore Workload
      run: dotnet workload restore --project ${{ env.CSPROJ_TO_BUILD }}

    - name: Build Sample App
      run: dotnet build ${{ env.CSPROJ_TO_BUILD }} -c ${{ env.BUILD_CONFIGURATION }}